@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --ff-Red-Hat-Display: 'Red Hat Display', sans-serif;
  --fw-regular: 500;
  --fw-medium: 700;
  --fw-bold: 900;
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);
  --clr-bright-blue-hover: hsla(245, 75%, 42%, 0.5);
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);
}

body {
    display: flex;
    min-height: 100vh;
    font-family: var(--ff-Red-Hat-Display);
    background-color: var(--clr-pale-blue);
    background-image: url(https://github.com/ArnoldMajor/order-summary-component-main/blob/a72b36a8958ddbba3323d6d3df8cb39917ee8a8e/images/pattern-background-desktop.svg?raw=true);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -5rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: 700px;
    width: 450px;
    border: none;
    border-radius: 20px;
    background-color: white;
}

.card {
    background-color: var(--clr-dark-blue);
    background-image: url(https://github.com/ArnoldMajor/order-summary-component-main/blob/a72b36a8958ddbba3323d6d3df8cb39917ee8a8e/images/illustration-hero.svg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 230px;
    border-radius: 20px 20px 0px 0px;
}

.card-content {
    display: flex;
    margin: 0px;
    flex-direction: column;
    padding: 40px 50px;
    text-align: center;
    height: 100%;
    font-family: var(--ff-Red-Hat-Display);
}

.card-title h1{
    font-weight: var(--fw-bold);
    color: var(--clr-dark-blue);
    margin-bottom: 20px;
}

.card-title p {
    font-weight: var(--fw-regular);
    color: var(--clr-desaturated-blue);
    margin-bottom: 25px;
}

.price-container {
    display: flex;
    border-radius: 10px;
    width: 100%;
    background-color: var(--clr-very-pale-blue);
    margin-bottom: 30px;
    padding: 25px;
    align-items: center;
}

.price-container h1 {
    font-weight: var(--fw-bold);
    color: var(--clr-dark-blue);
    font-size: 1rem;
}

.price-container p {
    font-weight: var(--fw-medium);
    color: var(--clr-desaturated-blue);
}

.price-container img {
    margin-right: 20px;
}

.price-container a {
    color: var(--clr-bright-blue);
    font-weight: var(--fw-bold);
}

.price-plan {
    display: grid;
    gap: 0.25rem;
    margin-right: 80px;
}

.button-container button{
    font-family: var(--ff-Red-Hat-Display);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bright-blue);
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    font-weight: var(--fw-bold);
    font-size: 1rem;
    color: white;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
    box-shadow: 0px 20px 20px hsla(245,75%,52%, 0.2);
}

.button-container a {
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.cancel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-container a {
    color: var(--clr-desaturated-blue);
    font-weight: var(--fw-bold);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.button-container button:hover {
    background-color: var(--clr-bright-blue-hover);
    
}